@use "../../Sass/colours" as color;

.Login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lighten(color.$primary-blue, $amount: 0%);
}

.Login__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: max-content;
  @media screen and (max-width: 640px), (max-width: 640px) {
    padding: 0 2rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0.6rem;
  @media screen and (max-width: 320px), (max-width: 320px) {
    gap: 0.2rem;
    padding: 1.5rem;
  }
  border-radius: 0.5rem;
  background-color: color.$white;
  box-shadow: 0px 0px 15px 0px darken(color.$primary-blue, $amount: 20%);

  & > label {
    font-size: 1rem;
    @media screen and (max-width: 320px), (max-width: 320px) {
      font-size: 0.8rem;
    }
    font-weight: 500;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;

  & > svg {
    display: flex;
    position: absolute;
    top: 20%;
    left: 1rem;
    font-size: 20px;
    @media screen and (max-width: 320px), (max-width: 320px) {
      font-size: 15px;
    }
    z-index: 1;
  }

  & > input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    @media screen and (max-width: 320px), (max-width: 320px) {
      padding: 0.8rem;
      padding-left: 2.5rem;
    }
    padding-left: 2.8rem;
    width: 100%;
    outline: none;
    border: 1.5px solid lighten(color.$primary-black, $amount: 90%);
    border-radius: 0.5rem;
    position: relative;
    z-index: 0;
  }

  & > input:not(:focus):invalid {
    border-color: red;
    animation: error-shakes 400ms;
  }

  & > input:not(:focus):invalid ~ .input-error {
    visibility: visible;
  }

  & > input:not(:placeholder-shown):valid {
    border: 1.5px solid lighten(color.$primary-blue, $amount: 10%);
  }

  @keyframes error-shakes {
    0% {
      transform: translateX(-10px);
    }

    20% {
      transform: translateX(8px);
    }

    40% {
      transform: translateX(-6px);
    }

    60% {
      transform: translateX(4px);
    }

    80% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.input-error {
  display: flex;
  font-size: 0.8rem;
  @media screen and (max-width: 320px), (max-width: 320px) {
    font-size: 0.6rem;
    padding: 0.1rem;
  }
  padding: 0.2rem 0;
  color: red;
  visibility: hidden;
}

.form-buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .rmbr-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.9rem;
    @media screen and (max-width: 320px), (max-width: 320px) {
      font-size: 0.7rem;
    }

    & > input {
    }
  }

  & > a {
    color: color.$primary-blue;
    font-size: 0.9rem;
    @media screen and (max-width: 320px), (max-width: 320px) {
      font-size: 0.7rem;
    }
  }

  & > a:hover {
    text-decoration: underline;
  }
}

.login {
  display: flex;
  flex-direction: column;
  padding: 1.1rem 0 0rem;
  @media screen and (max-width: 640px), (max-width: 640px) {
    padding: 0.8rem 0 0rem;
  }

  & > button {
    font-size: 1rem;
    padding: 1rem 12rem;
    @media screen and (max-width: 640px), (max-width: 640px) {
    padding: 0.8rem 0rem;
    }
    @media screen and (max-width: 320px), (max-width: 320px) {
      padding: 0.8rem 0rem;
      font-size: 0.8rem;
    }
    border-radius: 0.5rem;
    border: 1.5px solid transparent;
    color: color.$white;
    background-color: color.$primary-black;
    cursor: pointer;
  }

  & > button:hover {
    padding: 1rem 12rem;
    @media screen and (max-width: 640px), (max-width: 640px) {
      padding: 0.8rem 0rem;
    }
    border-radius: 0.5rem;
    border: 1.5px solid color.$primary-black;
    color: color.$primary-black;
    background-color: color.$white;
    transition: all 400ms ease;
  }

  & > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 0.9rem;
    @media screen and (max-width: 320px), (max-width: 320px) {
      font-size: 0.7rem;
      padding: 0.8rem;
      gap: 0.4rem;
    }
    color: color.$primary-black;
    padding: 1.1rem;

    & > a {
      font-size: 0.9rem;
      @media screen and (max-width: 320px), (max-width: 320px) {
        font-size: 0.7rem;
      }
      color: color.$primary-blue;
    }
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 0.9rem;
    @media screen and (max-width: 320px), (max-width: 320px) {
      font-size: 0.7rem;
    }
  }
}

.login-Option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  gap: 0.8rem;
  @media screen and (max-width: 320px), (max-width: 320px) {
    padding: 0.3rem 0;
  }

  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1.5px solid lighten(color.$primary-black, $amount: 90%);
    border-radius: 0.5rem;
    padding: 1rem;
    @media screen and (max-width: 320px), (max-width: 320px) {
      padding: 0.8rem;
    }
    width: 100%;
    background-color: transparent;

    & > svg {
      font-size: 20px;
      @media screen and (max-width: 320px), (max-width: 320px) {
        font-size: 18px;
      }
    }
  }
}
