@use "../../Sass//colours" as color;

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 640px), (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 4rem 10rem;
    gap: 3.5rem 10rem;
  }
  flex-direction: row;
  justify-content: center;
  padding: 6rem 10rem;
  height: 100%;
  background-color: color.$white;
  gap: 5rem 4rem;
}

.card {
  display: flex;
  height: 100%;
  max-width: 550px;
  @media screen and (max-width: 320px), (max-width: 320px) {
    max-width: 260px;
    gap: 1rem;
  }
  color: color.$primary-black;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 2rem;
  box-shadow: 0px 0px 20px 0px darken(color.$purple-light, $amount: 1%);

  & > svg {
    font-size: 140px;
    color: color.$primary-black;
  }
}

.card-detials {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > h1 {
    font-size: 1.1rem;
    font-weight: 500;
    @media screen and (max-width: 320px), (max-width: 320px) {
      font-size: 0.9.5rem;
    }
  }

  & > p {
    font-size: 1rem;
    font-weight: 300;
    @media screen and (max-width: 320px), (max-width: 320px) {
      font-size: 0.9rem;
    }
  }

  & > a {
    font-size: 0.9rem;
    @media screen and (max-width: 320px), (max-width: 320px) {
      font-size: 0.8rem;
    }
    font-weight: 300;
    color: color.$primary-blue;

    & > svg {
      font-size: 20px;
    }
  }
}
